@using Hotel.Web.Models.Shared
@model IEnumerable<RoomTypeVm>

@{
    ViewBag.Title = "Главная";
}

@using (Html.BeginForm("Create", "Reservarion", FormMethod.Get, new {@class = "sticky-top"}))
{ 
<div class="p-2" style="background: rgba(192, 192, 192, 0.7)">
    <div class="row m-2">
        <div class="col-lg-3 mt-1 mt-lg-0">
            @Html.DropDownList("id", new SelectList(Model, "Id", "Name"), new { @class = "form-control" })
        </div>

        <div class="col-lg-3 col-md-6 mt-1 mt-lg-0">
            @Html.Editor("ArrivalDate", new { htmlAttributes = new { @class = "form-control", type = "date" } })
        </div>

        <div class="col-lg-3 col-md-6 mt-1 mt-lg-0">
            @Html.Editor("DepartureDate", new { htmlAttributes = new { @class = "form-control", type = "date" } })
        </div>

        <div class="col-lg-3 mt-1 mt-lg-0">
            <input type="submit" class="btn btn-success w-100" id="MakeReservarion" value="Забронировать" />
        </div>
    </div>
</div>
}



@foreach (var item in Model)
{
    @Html.Partial("_RoomType", item)
}

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#MakeReservarion").on("click",
                function( event ) {
                    var roomTypeid = parseInt($("#RoomType").val());
                    var arrivalDate = $("#ArrivalDate").val();
                    var departureDate = $("#DepartureDate").val();

                    if (arrivalDate == "" && departureDate == "") {
                        event.preventDefault();
                        alert("Дата заезда и дата выезда должны быть выбраны");
                    }
                    
                });
        });
    </script>

    <script src="~/Content/js/ReservationDateValidate.js"></script>
}
